.webmenu,
.webmenu nav,
.webmenu nav ol {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.webmenu nav {
    justify-content: space-around;
}

.webmenu nav ol {
    justify-content: space-around;
}

.webmenu li {
    list-style-type: decimal-leading-zero;
    padding: 0.5rem;
    margin: 2rem;
}

.webmenu .logo {
    mix-blend-mode: luminosity;
}

@media only screen and (max-width: 768px) {
    .webmenu {
        display: none;
    }
}